<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <img src="images/邮件.png" alt="">
        <div>
            <img src="images/headerLogo.png" alt="">
        </div>
        <img src="images/效果图2_03.png" alt="">
    </header>
    <div class="focus">
        <img src="images/fe.png" alt="">
    </div>
    <div class="jobClass">
        <h3>· 就 业 课 ·</h3>
        <ul>
            <li>
                <a href="javascript:;"></a>
            </li>
            <li>
                <a href="javascript:;"></a>
            </li>
            <li>
                <a href="javascript:;"></a>
            </li>
            <li>
                <a href="javascript:;"></a>
            </li>
            <li>
                <a href="javascript:;"></a>
            </li>
            <li>
                <a href="javascript:;"></a>
            </li>
        </ul>
    </div>
    <div class="jobClass weClass">
        <h3>· 微 课 ·</h3>
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="images/wx.jpg" alt="">
                    <h3>【前端】微信小程序</h3>
                    <span>20人学习</span>
                    <span class="floatRight">￥199</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="images/wx.jpg" alt="">
                    <h3>【前端】微信小程序</h3>
                    <span>20人学习</span>
                    <span class="floatRight">￥199</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="images/wx.jpg" alt="">
                    <h3>【前端】微信小程序</h3>
                    <span>20人学习</span>
                    <span class="floatRight">￥199</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="images/wx.jpg" alt="">
                    <h3>【前端】微信小程序</h3>
                    <span>20人学习</span>
                    <span class="floatRight">￥199</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="bottomNav">
        <a href="/index.html">首页</a>
        <a href="/category.html">分类</a>
    </div>
</body>

</html>