body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #f1f1f1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    min-width: 320px;
    max-width: 540px;
    height: 65px;
    display: flex;
}

header h2 {
    flex: 1;
    color: #6cc6fd;
    text-align: center;
    line-height: 65px;
    margin: 0;
}

header div {
    line-height: 65px;
}

header div img {
    width: 105px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
}

.contentBox {
    padding: 65px 0 60px;
    display: flex;
    margin-top: 15px;
}

div.onShow {
    display: block;
}

.contentRight {
    background-color: #fff;
    flex: 3;
    padding-left: 15px;
    display: none;
}

.contentRight p:first-child {
    color: #46b7fc;
}

.contentRight p:nth-child(2) {
    color: #fff;
    background: url(../images/web_fe.png) no-repeat;
    width: 264px;
    height: 85px;
    text-align: center;
    line-height: 85px;
}

.contentRight p:nth-child(3) {
    color: #46b7fc;
}

.contentLeft {
    flex: 1;
    text-align: center;
}

.contentLeft ul li {
    height: 55px;
    line-height: 55px;
}

.contentLeft ul li.bgThis {
    background-color: #fff;
}

.classList a {
    margin: 10px 5px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
    border-radius: 6px;
}

.bottomNav {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    display: flex;
}

.bottomNav a {
    color: #5bb5f5;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomNav a:first-child::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/效果图2_07.png) no-repeat;
    margin-top: 8px;
}

.bottomNav a:last-child::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/效果图2_10.png) no-repeat;
    margin-top: 8px;
}